@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        p {
            text-align: center;
            font-size: 40px;
            font-style: oblique;
        }
    </style>
</head>
<main style="padding-top:80px;">
    <p>Vỏ hàng của bạn trống</p>

</main>

