
@{
    ViewBag.Title = "Success";
}

<div style=" position: relative; top: 50px; left: 45%;">
    <i style="font-size:85px" class="bi bi-emoji-heart-eyes-fill"></i>
    <p style="font-size: 30px; position: relative; right:129px ">Bạn đã đặt hàng thành công</p>
    <p style="font-size: 20px; position: relative; right:129px ">Đơn hàng sẽ được giao trong 2-3 ngày tới </p>
    <p style="">@Html.ActionLink("Back To Home", "Index", "Home")</p>
</div>



